@import 'bower_components/semantic-ui-sass/app/assets/stylesheets/semantic-ui';

body {
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 13px;
}

#events {
  th.time {
    width: 18em;
  }
}
