h1.ui.header events ({{upcoming + count}})

.unread.ui.yellow.small.message( ng-show="upcoming > 0" ng-click="loadUpcoming()" )
  | {{upcoming}} more events received, click to view.

table.ui.sortable.table.segment#events
  thead
    tr
      th.time time
      th.user user
      th.action action
  tbody
    tr( ng-repeat="evt in events" )
      td {{evt.created_at | amDateFormat:'L dddd h:mm:ss a'}}
      td {{evt.user}}
      td {{evt.user_action}}
