doctype html
html( ng-app="monitor" )
  head
    meta( charset="utf-8" )
    title Happytrace Monitor
    meta( name="viewport" content="width=device-width, initial-scale=1" )

    link( rel="stylesheet" href="styles/style.css" )

  body
    .ui.page.grid.one.column
      .row
        nav.ui.text.menu.navbar

          .left.menu
            a.item( href="#/" ) Happytrace Monitor
            a.item( href="#/" ) Dashboard
            a.item( href="#/alarms" ) Alarms
            a.item( href="#/events" ) Events

          .right.menu
            a.item( href="#" ) qhwa

      .ui.divider
      .column
        .row( ng-view )

    script( src="lib/underscore/underscore.js" )
    script( src="lib/angular/angular.js" )
    script( src="lib/angular-route/angular-route.js" )
    script( src="lib/moment/moment.js" )
    script( src="lib/angular-moment/angular-moment.js" )
    script( src="lib/pusher/dist/pusher.js" )

    script( src="scripts/app.js" )
    script( src="scripts/controllers/dashboard.js" )
    script( src="scripts/controllers/event-list.js" )
