doctype html
html( ng-app )
  head
    meta( charset="utf-8" )
    title Happytrace Monitor
    meta( name="viewport" content="width=device-width, initial-scale=1" )

    link( rel="stylesheet" href="stylesheets/style.css" )
    script( src="lib/angular/angular.js" )

  body
    .ui.page.grid
      nav.ui.text.menu.navbar

        .left.menu
          a.item( href="#" ) Happytrace Monitor
          a.item( href="#" ) Dashboard
          a.item( href="#" ) Alarms
          a.item( href="#" ) Events

        .right.menu
          a.item( href="#" ) qhwa

      .ui.divider
      .ui.grid
        .row
          .column
            .ui.huge.center.aligned
              h1.ui.huge.header.green pnq.cc is healthy.
              p ooooo
